@import "@radix-ui/themes/styles.css";

:root {
  body {
    margin: 0;
    padding: 0;
  }
  button {
    cursor: pointer;
  }
  a {
    all: unset;
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
